<h1>{{ user$.nome }}</h1>

<ul>
    <li><strong>Nome:</strong> {{ user$.nome}}</li>
    <li><strong>Origem/Vinculo:</strong> {{ user$.origem}}</li>
    <li><strong>Turno:</strong> {{ user$.cod_turno}}</li>
    <li><strong>Descrição:</strong> {{ user$.desc_turno}}</li>
    <li><strong>PIS:</strong> {{ user$.pis}}</li>
    <li><strong>RFID:</strong> {{ user$.rfid}}</li>
    <li><strong>Biometria:</strong> {{ user$.biometria}}</li>
    <li><strong>Situação:</strong> {{ user$.situacao}}</li>
    <li><strong>Status:</strong> {{ user$.status}}</li>
    <li><strong>Departamento Código:</strong> {{ user$.depto}}</li>
    <li><strong>Departamento descrição:</strong> {{ user$.departamento}}</li>
    <li><strong>Linha:</strong> {{ user$.linha}}</li>
    <li><strong>Centro de Custo:</strong> {{ user$.centro_de_custo}}</li>
</ul>

<ul>
  <li *ngFor="let story of user$.accesses"><hr />
    <ul>
      <li>Evento: <strong>{{ story.description }}</strong></li>
      <li>Em: {{ story.time }}</li>
      <li>Dispositivo: {{ story.device }}</li>
    </ul>
  </li>
</ul>
