<h1>History</h1>

<ul>
  <li *ngFor="let event of histories$">
    <a routerLink="/employee/{{event.idEmployee}}">{{ event.name }}</a>
    <ul>
      <li>{{event.idEmployee}}</li>
      <li>{{event.time}}</li>
      <li><a href="http://{{ event.website }}">{{ event.description }}</a></li>
    </ul>
  </li>
</ul>
